.main-div {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* justify-content: space-evenly; */
    background: #f1f3f9;
    height: 80vh;
    overflow: scroll;
}
header{
    border-bottom: 1px solid #4a74c9;
    width: 50%;
    align-items: center;
    text-align: center;
   
}
h1{
    cursor: pointer;
}

.wrap {
  
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 2em;
  }
  
  .button {
    width: 140px;
    height: 45px;
    font-size: 11px;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    font-weight: 600;

    
    border: none;
    border-radius: 45px;
   
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;

    background-color: #1462ff;
    box-shadow: 0 6px 30px -10px #4a74c9;
    color: #fff;
    }
  
  .button:hover {
  
    transform: translateY(-7px);
  }
  .terms-div{
      cursor: pointer;
  }