.search-form {
    overflow: hidden;
    position: relative;
    text-align: center;
}

.header-right {
    float: right;
    position: relative;
    text-align: right;
    width: 25%;
    z-index: 99;
}

.header-left .search-form::before {
    color: #fff;
    content: "\f375";
    display: block;
    font-family: "Ionicons"; /* stylelint-disable-line */
    padding-left: 1px;
    position: absolute;
    top: 12px;
}

.header-left .search-form input[type="submit"] {
    border: 0;
    clip: rect(0, 0, 0, 0);
    height: 1px;
    margin: -1px;
    padding: 0;
    position: absolute;
    width: 1px;
}

.header-left input[type="search"] {
    border-width: 0;
    background-color: transparent;
    color: #000;
  width: 20%;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 2px;
    text-align: center;
    text-transform: uppercase;
}

.header-left ::placeholder {
    color: #fff;
    opacity: 1;
}